## List Comprehension

In [81]:
score_list = [72,88,95,60,83]
max_score = max(score_list)

In [84]:
norm_score = [sc / max_score for sc in score_list]

## Generator Expressions

In [21]:
arr = [1,2,3]
sq = (a**2 for a in arr)
print(sq)
lsq = [a**2 for a in arr]
print(lsq)
s1 = min(sq)
s2 = min(lsq)
print(s1)

<generator object <genexpr> at 0x7ce65a01f510>
[1, 4, 9]
1

## Zipping

In [26]:
v1 = [1,2,3]
v2 = [3,4,5]
v3 = [6,7,5]

print(list(zip(v1,v2,v3)))

[(1, 3, 6), (2, 4, 7), (3, 5, 5)]

## Argument Unpacking

In [27]:
lst = [1,2,3]
print(*lst)

1 2 3

In [28]:
m = [[1,2,3], [3,4,5]]
print(*m)

[1, 2, 3] [3, 4, 5]

## Nested List Comprehension

* Pattern: [ [ inner-loop ] for outer-loop ]

In [ ]:
m = [[1,2,3], [3,4,5]]

In [32]:
m[0][2]

3

In [33]:
identity = []
for i in range(3):
    row = []
    for j in range(3):
        row.append(1 if i == j else 0)
    identity.append(row)

identity = [[1 if i == j else 0 for j in range(3)] for i in range(3)]

In [ ]:
[[1 if i == j else 0 for j in range(3)] for i in range(3)]

## Lambda Function

f: R -> R

In [34]:
def f(x):
  x = x+1
  return x

lambda x: x+1

In [36]:
(lambda x: x+1)(2)

3

In [39]:
nums = [9,15,11,13]
m = min(nums, key = lambda x:abs(x-10))
sort = sorted(nums, key = lambda x:abs(x-10))
print(sort)

[9, 11, 13, 15]

# Vectors

## Cosine Similarity Between Two Vectors
* list comprehension, zipping, generator expressions

In [41]:
v1 = [1,2,3]
v2 = [2,3,4]

def cos_sim(v1,v2):
    norm1 = sum(a**2 for a in v1)**0.5
    norm2 = sum(b**2 for b in v2)**0.5
    return sum(x*y for x,y in zip(v1,v2))/(norm1*norm2)

print(cos_sim(v1,v2))

0.9925833339709303

# Matrices

## Matrix Addition

* nested list comprehension, zipping

In [73]:
m1 = [[1,2,4], [2,3,5], [4,5,6], [7,8,9]]
m2 = [[1,2,5], [2,7,5], [9,5,6], [7,0,9]]
m3 = [[1,2,5], [2,7,5], [9,5,6], [7,0,9]]

In [51]:
list(zip(m1,m2)) #accessing the pairwise rows of m1, m2

[([1, 2, 4], [1, 2, 5]),
 ([2, 3, 5], [2, 7, 5]),
 ([4, 5, 6], [9, 5, 6]),
 ([7, 8, 9], [7, 0, 9])]

In [50]:
list(zip(m1,m2))[0] #first

([1, 2, 4], [1, 2, 5])

In [54]:
[a+b for a,b in zip([1, 2, 4], [1, 2, 5])] #[1, 2, 4], [1, 2, 5] #accessing row elements

[2, 4, 9]

In [48]:
# zip(A,B) = pairs of rows in outer loop
# zip(rowA, rowB) = pairs of elements in inner loop

def add(A,B):
   return [[a+b for a,b in zip(rowA, robB)] for rowA, robB in zip(A,B)]

print(add(m1,m2))

[[2, 4, 9], [4, 10, 10], [13, 10, 12], [14, 8, 18]]

In [76]:
#multiple matrix addition

def add2(*matrices):
  return [[sum(values) for values in zip(*rows)] for rows in zip(*matrices)]

In [78]:
m4 = m1
add2(m1,m2,m3,m4)

[[4, 8, 18], [8, 20, 20], [26, 20, 24], [28, 16, 36]]

## Matrix Scaling

[(1, 2, 4, 7), (2, 3, 5, 8), (4, 5, 6, 9)]

## Tranpose of a Matrix

* Argument Unpacking, Zipping

In [59]:
matrix = [[1,2,4], [2,3,5], [4,5,6], [7,8,9]]

list(zip([1,2,4], [2,3,5], [4,5,6], [7,8,9])) # we need the rows to be arguments of zip

print(*matrix) # argument unpacking transforms matrix into the rows argument

[1, 2, 4] [2, 3, 5] [4, 5, 6] [7, 8, 9]

In [61]:
list(zip(*matrix))

[(1, 2, 4, 7), (2, 3, 5, 8), (4, 5, 6, 9)]

In [63]:
transpose = [list(col) for col in zip(*matrix)]
transpose

[[1, 2, 4, 7], [2, 3, 5, 8], [4, 5, 6, 9]]

## Matrix Vector Dot Product

* zipping, list comprehension, generator expression

In [64]:
A = [
    [1, 2, 3],
    [4, 5, 6]
]
x = [1, 0, -1]

#[1*1 + 2*0 + 3*(-1), 4*1 + 5*0 + 6*(-1)] = [-2, -2]

In [65]:
[sum(a*b for a,b in zip(row,x)) for row in A]

[-2, -2]

## Matrix Multiplication

In [ ]:
# AB = C
# C[i][j] = dot product of ith row of A and jth column B

# dot product = generator expression + zipping of ith row of A and jth column B

In [66]:
A = [
    [1, 2, 3],
    [4, 5, 6]
]

B = [
    [7, 8],
    [9, 10],
    [11, 12]
]

In [71]:
cols = zip(*B)
list(cols)

[(7, 9, 11), (8, 10, 12)]

In [ ]:
# ith row of C = A*B = sequence of dot products of ith row of A and all the columns of B

In [69]:
def matmul(A,B):
   return [[sum (a*b for a,b in zip(rowA, colB)) # dot product of rowA and colB
   for colB in zip(*B)]
   for rowA in A]

In [70]:
matmul(A,B)

[[58, 64], [139, 154]]

## Matrix Mean by Row or Column (HW)